<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link href="__PUBLIC__/123/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet">
    <link href="__PUBLIC__/123/css/recommend.css" rel="stylesheet">
    <script src="__PUBLIC__/123/js/jquery-3.1.0.js"></script>
    <title>高下款率口子推荐</title>

</head>
<body onload="startTime()">
<div id="main">
    <div id="main_first">
        <h2 style="font-size: 20px">高下款率口子推荐</h2>
        <font color="#BFBFBF"><span id="nowDateTimeSpan"></span> &nbsp; <span style="color:#697E98">浏览次数n次</span></font>
        <p style="color:#989898">持续更新中……</p>
        <h3>
            <img src="__PUBLIC__/123/images/next.png" alt=""/> 信用卡快卡申请、最快3天下卡，额度最高五万
        </h3>
        <p>信用卡快卡申请：</p>
        <div class="main_flex">
            <a href="#"><img src="__PUBLIC__/123/images/5.png" /></a>
            <p><a href="#">查看攻略</a></p>
        </div>
        <h3><img src="__PUBLIC__/123/images/4.png" style="width:40px"/>信用贷款，征信良好，刷脸可办</h3>
    </div>

    <hr/>
    <div class="list">
        <ul class="list_card">
            <li class="card_name">
                <div class="card_border">
                    <div class="buju">
                        <a class="we" href="#"><img src="__PUBLIC__/123/images/3.png" alt="" /></a>
                        <div class="buju_flex">
                            <a class="safe" href="#">平安I贷</a></br>
                            <ul class="list_li">
                                <li class="identity_card">
                                    身份证
                                </li>
                                <li class="age_card">
                                    18-25
                                </li>
                                <li class=" rate_card">
                                    身份证
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span>
		   有信用卡、征信良好、人脸识别、视频面签、额度2千-3万
		  </span>
                </div>
                <div class="line"></div>
            </li>
        </ul>
        <p><a href="#">查看攻略</a></p>
    </div>
    <div class="list">
        <ul class="list_card">
            <li class="card_name">
                <div class="card_border">
                    <div class="buju">
                        <a class="we" href="#"><img src="__PUBLIC__/123/images/3.png" alt="" /></a>
                        <div class="buju_flex">
                            <a class="safe" href="#">平安I贷</a></br>
                            <ul class="list_li">
                                <li class="identity_card">
                                    身份证
                                </li>
                                <li class="age_card">
                                    18-25
                                </li>
                                <li class=" rate_card">
                                    身份证
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span>
		   有信用卡、征信良好、人脸识别、视频面签、额度2千-3万
		  </span>
                </div>
                <div class="line"></div>
            </li>
        </ul>
        <p><a href="#">查看攻略</a></p>
    </div>
    <div class="list">
        <ul class="list_card">
            <li class="card_name">
                <div class="card_border">
                    <div class="buju">
                        <a class="we" href="#"><img src="__PUBLIC__/123/images/3.png" alt="" /></a>
                        <div class="buju_flex">
                            <a class="safe" href="#">平安I贷</a></br>
                            <ul class="list_li">
                                <li class="identity_card">
                                    身份证
                                </li>
                                <li class="age_card">
                                    18-25
                                </li>
                                <li class=" rate_card">
                                    身份证
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span>
		   有信用卡、征信良好、人脸识别、视频面签、额度2千-3万
		  </span>
                </div>
                <div class="line"></div>
            </li>
        </ul>
        <p><a href="#">查看攻略</a></p>
    </div>
    <div class="list">
        <ul class="list_card">
            <li class="card_name">
                <div class="card_border">
                    <div class="buju">
                        <a class="we" href="#"><img src="__PUBLIC__/123/images/3.png" alt="" /></a>
                        <div class="buju_flex">
                            <a class="safe" href="#">平安I贷</a></br>
                            <ul class="list_li">
                                <li class="identity_card">
                                    身份证
                                </li>
                                <li class="age_card">
                                    18-25
                                </li>
                                <li class=" rate_card">
                                    身份证
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span>
		   有信用卡、征信良好、人脸识别、视频面签、额度2千-3万
		  </span>
                </div>
                <div class="line"></div>
            </li>
        </ul>
        <p><a href="#">查看攻略</a></p>
    </div>

    <h2><img src="__PUBLIC__/123/images/222_12.png" style="width:40px"/>无视黑白户是人即可贷</h2>
    <hr/>
    <div class="list">
        <ul class="list_card">
            <li class="card_name">
                <div class="card_border">
                    <div class="buju">
                        <a class="we" href="#"><img src="__PUBLIC__/123/images/3.png" alt="" /></a>
                        <div class="buju_flex">
                            <a class="safe" href="#">平安I贷</a></br>
                            <ul class="list_li">
                                <li class="identity_card">
                                    身份证
                                </li>
                                <li class="age_card">
                                    18-25
                                </li>
                                <li class=" rate_card">
                                    身份证
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span>
		   有信用卡、征信良好、人脸识别、视频面签、额度2千-3万
		  </span>
                </div>
                <div class="line"></div>
            </li>
        </ul>
        <p><a href="#">查看攻略</a></p>
    </div>
    <div class="list">
        <ul class="list_card">
            <li class="card_name">
                <div class="card_border">
                    <div class="buju">
                        <a class="we" href="#"><img src="__PUBLIC__/123/images/3.png" alt="" /></a>
                        <div class="buju_flex">
                            <a class="safe" href="#">平安I贷</a></br>
                            <ul class="list_li">
                                <li class="identity_card">
                                    身份证
                                </li>
                                <li class="age_card">
                                    18-25
                                </li>
                                <li class=" rate_card">
                                    身份证
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span>
		   有信用卡、征信良好、人脸识别、视频面签、额度2千-3万
		  </span>
                </div>
                <div class="line"></div>
            </li>
        </ul>
        <p><a href="#">查看攻略</a></p>
    </div>
    <div class="list">
        <ul class="list_card">
            <li class="card_name">
                <div class="card_border">
                    <div class="buju">
                        <a class="we" href="#"><img src="__PUBLIC__/123/images/3.png" alt="" /></a>
                        <div class="buju_flex">
                            <a class="safe" href="#">平安I贷</a></br>
                            <ul class="list_li">
                                <li class="identity_card">
                                    身份证
                                </li>
                                <li class="age_card">
                                    18-25
                                </li>
                                <li class=" rate_card">
                                    身份证
                                </li>
                            </ul>
                        </div>
                    </div>
		  <span>
		   有信用卡、征信良好、人脸识别、视频面签、额度2千-3万
		  </span>
                </div>
                <div class="line"></div>
            </li>
        </ul>
        <p><a href="#">查看攻略</a></p>
    </div>
    <div class="list">
        <ul class="list_card">
            <li class="card_name">
                <div class="card_border">
                    <div class="buju">
                        <a class="we" href="#"><img src="__PUBLIC__/123/images/3.png" alt="" /></a>
                        <div class="buju_flex">
                            <a class="safe" href="#">平安I贷</a></br>
                            <ul class="list_li">
                                <li class="identity_card">
                                    身份证
                                </li>
                                <li class="age_card">
                                    18-25
                                </li>
                                <li class=" rate_card">
                                    身份证
                                </li>
                            </ul>
                        </div>
                    </div>
                    <span>
		   有信用卡、征信良好、人脸识别、视频面签、额度2千-3万
		  </span>
                </div>
                <div class="line"></div>
            </li>
        </ul>
        <p><a href="#">查看攻略</a></p>
    </div>
    <hr/>

    <img src="__PUBLIC__/123/images/shop.jpg" class="main-pic"/>
</div>

<script language="JavaScript">
    function startTime()
    {
        var today=new Date();//定义日期对象
        var yyyy = today.getFullYear();//通过日期对象的getFullYear()方法返回年
        var MM = today.getMonth()+1;//通过日期对象的getMonth()方法返回年
        var dd = today.getDate();//通过日期对象的getDate()方法返回年
        var hh=today.getHours();//通过日期对象的getHours方法返回小时
        var mm=today.getMinutes();//通过日期对象的getMinutes方法返回分钟
        var ss=today.getSeconds();//通过日期对象的getSeconds方法返回秒
        // 如果分钟或小时的值小于10，则在其值前加0，比如如果时间是下午3点20分9秒的话，则显示15：20：09
        MM=checkTime(MM);
        dd=checkTime(dd);
        mm=checkTime(mm);
        ss=checkTime(ss);
//        var day; //用于保存星期（getDay()方法得到星期编号）
//        if(today.getDay()==0)   day   =   "星期日 "
//        if(today.getDay()==1)   day   =   "星期一 "
//        if(today.getDay()==2)   day   =   "星期二 "
//        if(today.getDay()==3)   day   =   "星期三 "
//        if(today.getDay()==4)   day   =   "星期四 "
//        if(today.getDay()==5)   day   =   "星期五 "
//        if(today.getDay()==6)   day   =   "星期六 "
        document.getElementById('nowDateTimeSpan').innerHTML=yyyy+"-"+MM +"-"+ dd +" " + hh+":"+mm+":"+ss;
        setTimeout('startTime()',1000);//每一秒中重新加载startTime()方法
    }

    function checkTime(i)
    {
        if (i<10){
            i="0" + i;
        }
        return i;
    }
</script>
</body>
</html>
