<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link href="font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/index.css" rel="stylesheet">
    <script src="__PUBLIC__/Home/js/jquery-3.1.0.js"></script>
    <title>订购产品</title>
</head>
<body>
   <div id="banner"><img src="__PUBLIC__/Home/images/li.jpg"></div>
   <div id="mid">
       <div id="mid_top"><span class="mid_top_text"><img src="__PUBLIC__/Home/images/arrow_03.jpg"> 我的上级:创赢掌上融,我的UID:54940</span>
       </div>
        <div id="mid_mid">
           <span class="choose">请选择会员权限</span>
           <div id="vip">
               <a id="vip1">钻石会员</a>
               <a id="vip2">绿卡会员</a>
           </div>
           <form>
           <input type="text" placeholder="收货姓名">
           <input type="text" placeholder="微信号码">
           <input type="text" placeholder="手机号码">
           <input type="text" placeholder="收货地址">
           </form>
           </div>
        </div>
   <div id="footer">
      <p id="money">价格:<span id="price">￥2290</span></p>
      <a href="javascript:;" class="buy">立即购买</a>
   </div>
</body>
</html>
<script>
    $(function(){
        var _width = document.documentElement.clientWidth || document.body.clientWidth;
            document.documentElement.style.fontSize = _width / 640 * 100 + "px";
        window.onresize = function () {
            var _width = document.documentElement.clientWidth || document.body.clientWidth;
            document.documentElement.style.fontSize = _width / 640 * 100 + "px";
        };

        $("#vip2").click(function(){
            $(this).css({"background":"#EB6D20","color":"#fff"}).siblings().css({"background":"#fff","color":"#EB6D20"})
        });
        $("#vip1").click(function(){
            $(this).css({"background":"#EB6D20","color":"#fff"}).siblings().css({"background":"#fff","color":"#EB6D20"})
        })
        })

</script>