<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>合作共赢</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link href="font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet">
    <link href="__PUBLIC__/123/css/credit.css" rel="stylesheet">
    <script src="__PUBLIC__/123/js/jquery-3.1.0.js"></script>	
</head>
<body>
<div class="code">  
      <div class="particulars">
          <div class="arrow2">
          	<img src="__PUBLIC__/123/images/arrow_03.jpg">
          	<b>合作共赢</b>
          </div>
         <div id="detai_list">
         	  
              <p><span>1</span>贷款通道</p>
			  <ul>
				  <li>*集合提供全网贷款、信用卡办理通道，为会员提供自助申请办理平台。<li>
				  <li>* 为会员节省筹款时间，为会员节省金融中介相关费用 为会员节省购买市面金融一体机费用<li>
				  <li>*借助互联网发展趋势，为会员提供兼职赚钱机会，实现平台与会员互惠共赢。</li>
              </ul>
             <p><span>2</span>会员级别</p>
			   <ul>
			 
				 <li>*会员分为一级会员、二级会员和三级会员，三级会员之间的关系是逐级利润递减<li>
				 <li>*一级会员是由·	公司推广码或者是直接注册金卡会员进来的会员<li>
				 <li>*二级会员是一级会员推广的或者是注册的银卡会员进来的会员<li>
				 <li>*三级会员是二级会员推广进来的会员<li>
				</ul>
             <p><span>3</span>借助互联网发展趋势，为会员提供兼职赚钱机会，实现平台与会员互惠共赢。</p>
			 <ul>
				 <li>*帮助会员提高金融理财相关知识<li>
				 <li>*为会员提供管理规范、客源充足的销售平台<li>
				 <li>*为会员提供货真价实、物美价廉的购物平台<li>
				 <li>*（采用三级分销模式，佣金实行当天 、秒结）<li>
				 <li>1、88元注册银卡会员，推广会员注册得60%推广费用<li>
				 <li>2、388元注册金卡会员，公司赠送0.5%-0.65%移动刷卡软件，一级会员得35%推广费用，二级会员得15%推广费用，三级会员得20%推广费用<li>
				 <li>所有推广返利均是秒结算，剩余费用转入公司账户<li>
				 <li>会员帮助平台提升市场知名度<li>
				 <li>平台帮助会员汇总团队信息提高凝聚力加快发展速度<li>
			 </ul>
         </div>
      </div>
</div>
<ul class="footer">
    <li><a href="http://{:C('url1')}/card/index.php/Home/Login/index"><img src="__PUBLIC__/123/images/li_33.jpg"><br><br>加入会员</a></li>
    <li><a href="http://{:C('url1')}/card/index.php/Home/Card/newknow"><img src="__PUBLIC__/123/images/li_42.jpg"><br><br>新手帮助</a></li>
    <li><a href="http://{:C('url1')}/card/index.php/Home/Card/pushknow"><img src="__PUBLIC__/123/images/li_39.jpg"><br><br>我要推广</a></li>
    <li><a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid={:C('const.appid')}&redirect_uri=http%3a%2f%2f{:C('url1')}%2fcard%2findex.php%2fHome%2fCard%2fhuiyuanzhongxin&response_type=code&scope=snsapi_base&state=123#wechat_redirect"><img src="__PUBLIC__/123/images/li_36.jpg"><br><br>个人中心</a></li>
</ul>

</body>
</html>
<script>
		var _width = document.documentElement.clientWidth || document.body.clientWidth;
            document.documentElement.style.fontSize = _width /640 * 100 + "px";
        window.onresize = function () {
            var _width = document.documentElement.clientWidth || document.body.clientWidth;
            document.documentElement.style.fontSize = _width /640 * 100 + "px";
        };

		var _detail_list=document.getElementById("detai_list");
		var _p=_detail_list.getElementsByTagName("p");
		var _ul=_detail_list.getElementsByTagName("ul");
		
		for(var i=0;i<_p.length;i++){
			_p[i].index=i;
			_p[i].off=true;
			_p[i].onclick=function(){
			var _index=this.index;
				if(this.off){	
					$(_ul[_index]).slideDown();
				}else { 
					$(_ul[_index]).css("display","none")
				
				}
				this.off=!this.off;
			}
		}  
</script>