<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>佣金排行榜 </title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <style>
        .content{
            padding:0 1rem;
        }
        h4{
            text-align: center;
        }
        .sty{
          border:1px solid #ddd;  
        }
        table{
           border:1px solid #ddd; 
            border-collapse: collapse;
        }
        td{
            border:1px solid #ddd;
            width:8rem;
            height:1.6rem;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <h4>一级会员佣金排行</h4>
        <table>
            <tr class="sty">
                <td>名次</td>
                <td>会员名</td>
                <td>佣金</td>
            </tr>
             <tr>
                <td>1</td>
                <td>kum</td>
                <td>10000</td>
            </tr>
        </table>
    </div>

</body>
</html>