<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link href="__PUBLIC__/123/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet">
    <link href="__PUBLIC__/123/css/person.css" rel="stylesheet">
    <script src="__PUBLIC__/123/js/jquery-3.1.0.js"></script>
    <title>个人中心</title>
    <style>
        html{
    overflow:hidden; 
    }
    body{
        overflow-x: hidden;
    }
    </style>
</head>
<body>
<div class="banner">
    <img src="__PUBLIC__/123/images/li.jpg" style="height:3.2rem;width:100% ;">
    <img src="{$selfinfo['weixin_headimgurl']}" class="pic">
    <h3>名称:{$selfinfo['weixin_name']}</h3>
    <span class="mid_top_text"><img src="__PUBLIC__/123/images/arrow_03.jpg"> 推荐人姓名:
        <if condition="empty($tuijian_name['weixin_name']) eq true">无
        <else />{$tuijian_name['weixin_name']}
        </if>  
    </span>
    <span class="Id">会员ID:{$selfinfo['id']}</span>
    <span>关注时间：{$selfinfo['weixin_addtime']}</span>
    <p style="color:green;font-size:18px;">
        <if condition="$userinfo.grade eq 1">[绿钻会员]</if>
        <if condition="$userinfo.grade eq 2">[白银会员]</if>
    </p>
    <ul>
        <li>
            <if condition="empty($selfinfo['money']) eq true">0.00元
            <else />{$selfinfo['money']}元
            </if>  
        <br>账户余额</li>
        <li>累计收益<br>
            <if condition="empty($money) eq true">0.00元
            <else />{$money}元
            </if>        
        </li>
        <li>我的资金<br>
            <if condition="empty($selfinfo['money']) eq true">0.00元
            <else />{$selfinfo['money']}元
            </if> 
        </li>
        <!--<li><a href="javascript:;"><img src="__PUBLIC__/123/images/li_03.jpg"><br>提现</a></li>-->
    </ul>
</div>
</body>
</html>

<script>
    var _width = document.documentElement.clientWidth || document.body.clientWidth;
    document.documentElement.style.fontSize = _width /627* 100 + "px";
    window.onresize = function () {
        var _width = document.documentElement.clientWidth || document.body.clientWidth;
        document.documentElement.style.fontSize = _width /627* 100 + "px";
    }

</script>