body{
    margin:0;
    padding:0;
}
#banner{
    height:3.2rem;
    width:100% ;
}
#banner img{
    width:100% ;
}
#mid{
    background-color: #FFF4A5;
    padding-bottom: 0.2rem;

}
#mid_top .mid_top_text{
     font-size: 0.29rem;
     display: block;
     color: #ED752B;
     line-height: 0.52rem;
}
#mid_top{
    padding-left: 0.2rem
}
#mid_mid .choose{
    font-size: 0.28rem;
    line-height: 0.65rem;
    display: block;
    padding-left: 0.2rem;
    color: #42413C;
    font-weight: bold;
    margin-top: 0.45rem;
}
 #vip{
    height:0.66rem;
    width:3.22rem;
    margin-left: 0.2rem;
     margin-bottom: 0.04rem;
}
#vip a{
   font-size: 0.16rem;
   display: block;
   float:left;
   line-height:0.66rem;
   text-align: center
}
#vip1{
    background-color: #EB6D21;
    border-radius:0.5rem 0 0 0.5rem ;
    width:1.60rem;
    height:100%;
    color:#fff;
}
#vip2{
    background-color: #fff;
    border-radius: 0  0.5rem 0.5rem 0  ;
    width:1.60rem;
    height:100%;
    color:#EB6D20
}

#mid_mid form{
    width:5.9rem;
    text-align: center;
    margin: 0 3% 0.42rem;
}
#mid_mid input{
	outline: none;
    display: inherit;
    height:0.66rem;
    width:97%;
    margin-top: 0.2rem ;
    border: 1px solid #EB6D20;
    border-radius: 0.5rem;
    padding-left: 3%;
    font-size: 0.26rem;
}
#footer{
        width:100%;
        height: 0.93rem;
        line-height: 0.93rem;
}
#money{
	   font-size: 0.3rem;
       color:#E96E20;
       display: inline-block;
       float: left;
	   padding-left: 0.23rem;
}
#money span{
    font-weight: bolder;
}
#footer .buy{
    font-size: 0.3rem;
    color:#fff;
    width:30%;
    background-color: #EB6D21;
    float: right;
    text-decoration: none;
    text-align: center;

}

