
.banner {
    text-align: center;
    background-color: #FAB389;
}
.banner img.pic{
    width: 1.7rem;
    height: 1.7rem;
    margin-top: 0.28rem;
    border-radius:15px;
}
.banner h3{
    font-size:0.23rem;
    color: #DB423D;
    line-height: 0.4rem;
}
.banner span{
    font-size: 0.21rem;
    color:#DB433E;
    float: left;
    padding:0.2rem 0.2rem;
    display: block;
    width:100%
}
.banner ul {
    font-size: 0.21rem;
    list-style: none;
    text-align: center;
    width:100%;
    height:0.9rem;
    background-color: #FFF4A5;
    border-top:1px solid #EFA77F;
    border-bottom:1px solid #EFA77F;
    display: flex;
    justify-content: flex-start;
}
.banner ul li{

    width:24%;
    height: 0.8rem;
    font-size:0.16rem;
    border-right:1px solid #000;
    padding-top:0.1rem;
    color:#404040;
    line-height: 0.3rem;
    /*padding-bottom:0.1rem;*/
}
.banner ul li:nth-child(6) a{
    text-decoration: none;
    color:#555;
}
.banner  ul li:nth-child(6) img{
    width:0.23rem;
    height:0.23rem;
    margin-top: 0;
}
.bot{height:1rem}

*{
    margin: 0;
    padding: 0
}



