<html>
 <head> 
 </head>
 <body>
  <block name="title">
   <title>后台-修改信用卡知识文章</title>
  </block>   
  <extend name="Public:base" /> 
  <block name="main"> 
    
<body>
	<form action="{:U('Article/carddoedit')}" method="post" enctype="multipart/form-data" >
		<table class="table">
			<tr >
				<td class="th" colspan="2">修改信用卡知识文章</td>
			</tr>
			<tr>
				<td>内容</td>
				<td><textarea rows="6" class="form-control" name="content">{$info['content']}</textarea></td>
				<input type="hidden"  value="{$info.id}" name="id" >
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="修改" class="input_button"/>
					<input type="reset" class="input_button"/>
				</td>
			</tr>
		</table>
	</form>
</body>




  </block>
 </body>
</html>