<html>
 <head> 
 </head>
 <body>
  <block name="title">
   <title>后台-浏览提现记录</title>
  </block>   
  <extend name="Public:base" /> 
  <block name="main"> 
  
<form method="get" action="{:U('User/tixian')}">
	<div style="margin-top:20px">
		<input type="text" value="{$Think.get.id}" name="id" placeholder="搜索用户ID" >
		状态：
			<select class="form-control m-bot15" name="grade" >
                  <option value="">--请选择--</option>
                  <option value="1">申请提现</option>
                  <option value="2">提现成功</option>
                  <option value="3">提现失败</option>
            </select>
		<input type="submit" value="查询">
	</div>

</form>

<body>
	<table class="table">
		<tr>
			<td class="th" colspan="20">提现记录</td>
		</tr>
		<tr class="tableTop">
			<th class="tdLittle1">用户ID</th>
			<th>提现金额</th>
			<th>支付宝账号</th>
			<th>姓名</th>
			<th>银行卡号</th>
			<th>申请时间</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
		
		<foreach name="info" item="val">
		<tr>
		
			<td>{$val['user_id']}</td>
			<td>{$val['money']}</td>
			<td>{$val['zfb']}</td>
			<td>{$val['name']}</td>
			<td>{$val['cardnum']}</td>
			<td>{$val['addtime']}</td>
			<!-- <td>{$val['state']}</td> -->
			<td>
				<if condition="$val['grade'] == 1"><span style="color:red;">申请提现</span></if>
				<if condition="$val['grade'] == 2"><span style="color:blue">提现成功</span></if>
				<if condition="$val['grade'] == 3"><span style="color:gray">提现失败</span></if>
			</td>
			<td>
				<if condition="$val['grade'] == 1">
		            <a href="__MODULE__/User/agree/id/{$val.id}">同意</a>|
		            <a href="__MODULE__/User/refuse/id/{$val.id}">拒接</a>
		        <elseif condition="$val['grade'] == 2" />
					已同意
				<else />
					已拒绝
		        </if>
		    </td>
		</tr>
		</foreach>
		<tr class="content">
                <td colspan="3" bgcolor="#FFFFFF"><div class="pages">
                        {$page}
                </div></td>  
            </tr>
	</table>

</body>




  </block>
 </body>
</html>